<div class="o365-profile-block">
  <div class="o365-profile-block--name">
    <span>{{ displayName }}</span>
  </div>
  <div class="o365-profile-block--image">
    {% if imageData is not empty  %}
    <img src="{{ imageData }}" title="{{ displayName }}" alt="{{ displayName }}"/>
    {% else %}
      <p>{{ givenName }}</p>
    {% endif %}
  </div>
  <div class="o365-profile-block--presence">
    <span>{{ displayAvailability }} </span>
  </div>
</div>
