<div class="{{ container_classes | join(' ') }}">
  <a href="{{ url }}" class="{{ link_classes | join(' ') }}" rel="noopener" target="_blank">
    <div class="ms-Icon ms-Icon--{{ icon }}"></div>
    {{ text }}
  </a>
</div>
