<a href="{{ fileUrl }}" rel="noopener" target="_blank">
  <div class="o365-sharepoint-search-results">

    <div class="o365-sharepoint-file">
      <span class="o365-link-inline ms-BrandIcon--icon48 ms-BrandIcon--{{ fileExtension }}"></span>
    </div>
    <div class="o365-sharepoint-file-information">
      <h4 class="file-name"> {{ fileName }}</h4>
      <span class="last-modified">Last modified by:
        <a class="modified-info"> {{ lastModifiedBy }}
        </a>
      </span>
      <span class="last-modified">Last modified date and time:
        <a class="modified-info"> {{ lastModifiedDateTime }}</a>
      </span>
    </div>

  </div>
</a>
