/* stylelint-disable */

@import "../includes/mixins";

.has-callout {
  position: relative;

  &:hover {
    .ms-Callout-container {
      opacity: 1;
      top: 0;
      visibility: visible;
    }
  }
}

.ms-Callout-container {
  opacity: 0;
  position: relative;
  transition: opacity 0.3s 0s ease-in-out, top 0.3s 0s ease-in-out;
  top: -10px;
  visibility: hidden;
  z-index: 999;
}

.ms-Callout {
  @include focusClear;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
  font-size: 14px;
  position: absolute;
  width: 264px;
  z-index: 999;

  &-left {
    left: -10px;

    .ms-Callout-beak {
      left: 20px;
    }
  }

  &-right {
    right: -10px;

    .ms-Callout-beak {
      right: 20px;
    }
  }

  .ms-Callout-main {
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 15px;
    position: relative;
    border-radius: 2px;
  }

  &-item {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    .ms-Icon {
      margin-right: 4px;
    }
  }

  &-flex {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}

.ms-Callout-beak {
  position: absolute;
  background-color: #FFFFFF;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  border: inherit;
  box-sizing: border-box;
  transform: rotate(45deg);
  height: 16px;
  width: 16px;
}
