.o365-sharepoint-search-results {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding: 16px 12px;
  border-bottom: solid lightgray 1px;
}

.o365-sharepoint-search-file {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.o365-sharepoint-search-file .form-item {
  margin: 0;
}

.o365-sharepoint-search-file .form-submit {
  margin-left: 16px;
}

.o365-sharepoint-file {
  display: flex;
}

.o365-sharepoint-file-information {
  display: inline-grid;
  padding-left: inherit;
}

.sharepoint-file-search-results .file-name {
  margin-top: 0;
}

.sharepoint-file-search-results .last-modified {
  font-size: small;
  font-weight: bold;
}

.sharepoint-file-search-results .modified-info {
  font-size: small;
}

.sharepoint-file-search-results ul {
  padding: 0;
}

.sharepoint-file-search-results li {
  list-style: none;
}

.sharepoint-file-search-results .ms-BrandIcon--icon48 {
  width: 32px;
  height: 32px;
}
