<div class="o365-calendar--item-container">
  <div class="o365-calendar--item">
    <h3 class="o365-calendar--item--calendar-subject">{{ subject }}</h3>
    <div class="o365-calendar-datetime">
      <div class="o365-calendar-datetime--time">
        <span>{{ fromTime }}</span><span class="divider"> - </span><span>{{ endTime }}</span>
      </div>
      <div class="o365-calendar-datetime--date">
        <span>{{ fromDate }}</span>
        {% if fromDate != endDate %}
          <span class="divider"> - </span>
          <span>{{ endDate }}</span>
        {% endif %}
      </div>
    </div>

    {% if attendees %}
      <div class="o365-calendar-attendees">
        {% for attendee in attendees %}
          <div class="o365-calendar-attendee o365-persona-bg--{{ attendee['bg'] }}">
            {{ attendee['initials'] }}
          </div>
        {% endfor %}

        {% if remainingAttendees %}
          <div class="o365-calendar-attendee o365-calendar-attendee--remaining">
            +{{ remainingAttendees }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {{ webLink }}
  </div>

  {% if onlineMeeting %}
    <div class="o365-calendar-join-url">
      <a href="{{ onlineMeeting }}" rel="noopener" target="_blank" class="{{ onlineMeeting_class }}" title="{{ 'This link opens in a new window' | t }}">{{ 'Join MS Teams meeting' | t }}</a>
    </div>
  {% endif %}
</div>
