.o365-links-applications {
  padding: 1.5rem 1.25rem 0;
}

.o365-links-applications li {
  list-style: none;
}

.o365-links-application-link {
  display: flex;
  align-items: center;
}

.o365-links-application-link .application-name {
  margin-left: 10px;
}
