<div>
  {{ 'Below is a list of scopes needed to make the Microsoft 365 integration work with the enabled modules. You need to enable these on your Microsoft 365 app.' | t }}
</div>

<table>
  <thead>
  <tr>
    <th>Scope name</th>
  </tr>
  </thead>
  <tbody>
  {% for scope in scopes %}
    <tr>
      <td>{{ scope }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
