<div class="o365-persona o365-persona--size{{ config['size'] }}">
  {% if config['show_photo'] %}
    <div class="persona-image-area">
      {% if userData['imageSrc'] %}
        {% include '@o365/components/persona-image.html.twig' %}
      {% else %}
        <div class="persona-initials" aria-hidden="true"><span>{{ userData['initials'] }}</span></div>
      {% endif %}

      {% if config['show_presence'] == 1 %}
        {% include '@o365/components/persona-presence.html.twig' %}
      {% endif %}
    </div>
  {% endif %}

  {% if config['show_name'] == 1 %}
    <div class="persona-name">
      <span>{{ userData['userData']['displayName'] }}</span>
    </div>
  {% endif %}
</div>
