/* stylelint-disable */
.o365--ml-4 {
  margin-left: 4px;
}

.o365--mr-4 {
  margin-right: 4px;
}

.o365--ml-8 {
  margin-left: 8px;
}

.o365--mr-8 {
  margin-right: 8px;
}

.o365--ml-12 {
  margin-left: 12px;
}

.o365--mr-12 {
  margin-right: 12px;
}

.o365--ml-16 {
  margin-left: 16px;
}

.o365--mr-16 {
  margin-right: 16px;
}

.o365--ml-20 {
  margin-left: 20px;
}

.o365--mr-20 {
  margin-right: 20px;
}

.o365--ml-24 {
  margin-left: 24px;
}

.o365--mr-24 {
  margin-right: 24px;
}

/*# sourceMappingURL=o365.general.css.map */
