{{ attach_library('o365/persona.component.presence') }}
<div class="persona-presence persona-presence--{{ userData['presenceData']['activity'] | clean_class }}">
  <span>{{ userData['presenceData']['activity'] }}</span>
</div>
