<a href="{{ fileUrl }}" class="o365-onedrive-files" target="_blank" rel="noopener" title="{{ 'This link opens in a new window' }}">
  <div class="o365-onedrive-file">
    <span class="o365-onedrive-file o365-link-inline ms-BrandIcon--icon48 ms-BrandIcon--{{ fileExtension }}"></span>
  </div>
  <div class="file-name"> {{ fileName }} </div>
</a>
