<div class="card__body">
  {{ results }}

  <a href="https://www.office.com/?auth=2&home=1&section=myrecentdocs#AllItems" rel="noopener" target="_blank" class="btn btn-secondary btn-lg btn-raised waves-effect waves-btn waves-light">{{ 'More files on Sharepoint' | t }}</a>
</div>
