<div class="card">
  <div class="card__body">
    {{ list }}

    <a href="https://outlook.office.com" rel="noopener" target="_blank" class="{{ readmore_class }}" title="{{ 'This link opens in a new window' | t }}">{{ 'Read more emails on Outlook.com' | t }}</a>
  </div>
</div>
