<div class="mail-item mail-item--{{ isRead ? 'read' : 'unread' }}">
  <div class="o365-outlook-from">{{ from }}</div>
  <div class="o365-outlook-data">
    <div class="subject">{{ subject }}</div>
    <div class="date">{{ receivedDateTime }}</div>
  </div>
  <div class="o365-outlook-preview">{{ bodyPreview }}</div>
</div>
{{ webLink }}
