/* stylelint-disable */
.o365-persona .persona-presence {
  background-color: #6BB700;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  bottom: -2px;
  box-sizing: border-box;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  right: -2px;
}
.o365-persona .persona-presence--availableidle::after, .o365-persona .persona-presence--busyidle::after, .o365-persona .persona-presence--inactive::after, .o365-persona .persona-presence--outofoffice::after, .o365-persona .persona-presence--presenceunknown::after, .o365-persona .persona-presence--offwork::after, .o365-persona .persona-presence--offline::after {
  background-color: #FFFFFF;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.o365-persona .persona-presence--away, .o365-persona .persona-presence--inactive, .o365-persona .persona-presence--berightback {
  background-color: #FFAA44;
}
.o365-persona .persona-presence--busy, .o365-persona .persona-presence--busyidle, .o365-persona .persona-presence--presenting, .o365-persona .persona-presence--inacall, .o365-persona .persona-presence--inaconferencecall, .o365-persona .persona-presence--inameeting, .o365-persona .persona-presence--urgentinterruptionsonly, .o365-persona .persona-presence--donotdisturb {
  background-color: #C50F1F;
}
.o365-persona .persona-presence--presenting:before, .o365-persona .persona-presence--inacall:before, .o365-persona .persona-presence--inaconferencecall:before, .o365-persona .persona-presence--inameeting:before, .o365-persona .persona-presence--urgentinterruptionsonly:before, .o365-persona .persona-presence--donotdisturb:before {
  color: #FFFFFF;
  content: "-";
  display: block;
  font-size: 16px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.o365-persona .persona-presence--blocked {
  background-color: #C50F1F;
}
.o365-persona .persona-presence--presenceunknown, .o365-persona .persona-presence--outofoffice {
  background-color: #B4009E;
}
.o365-persona .persona-presence--offwork, .o365-persona .persona-presence--offline {
  background-color: #8A8886;
}
.o365-persona--size24x24 .persona-presence {
  height: 12px;
  width: 12px;
}
.o365-persona--size44x44 .persona-presence, .o365-persona--size48x48 .persona-presence {
  height: 16px;
  width: 16px;
}
.o365-persona--size44x44 .persona-presence--availableidle::after, .o365-persona--size44x44 .persona-presence--busyidle::after, .o365-persona--size44x44 .persona-presence--outofoffice::after, .o365-persona--size44x44 .persona-presence--presenceunknown::after, .o365-persona--size44x44 .persona-presence--offwork::after, .o365-persona--size44x44 .persona-presence--inactive::after, .o365-persona--size44x44 .persona-presence--offline::after, .o365-persona--size48x48 .persona-presence--availableidle::after, .o365-persona--size48x48 .persona-presence--busyidle::after, .o365-persona--size48x48 .persona-presence--outofoffice::after, .o365-persona--size48x48 .persona-presence--presenceunknown::after, .o365-persona--size48x48 .persona-presence--offwork::after, .o365-persona--size48x48 .persona-presence--inactive::after, .o365-persona--size48x48 .persona-presence--offline::after {
  height: 8px;
  left: 2px;
  top: 2px;
  width: 8px;
}
.o365-persona--size64x64 .persona-presence {
  height: 18px;
  width: 18px;
}
.o365-persona--size64x64 .persona-presence--availableidle::after, .o365-persona--size64x64 .persona-presence--busyidle::after, .o365-persona--size64x64 .persona-presence--outofoffice::after, .o365-persona--size64x64 .persona-presence--presenceunknown::after, .o365-persona--size64x64 .persona-presence--offwork::after, .o365-persona--size64x64 .persona-presence--inactive::after, .o365-persona--size64x64 .persona-presence--offline::after {
  left: 2px;
  height: 10px;
  top: 2px;
  width: 10px;
}
.o365-persona--size96x96 .persona-presence {
  height: 26px;
  width: 26px;
}
.o365-persona--size96x96 .persona-presence--availableidle::after, .o365-persona--size96x96 .persona-presence--busyidle::after, .o365-persona--size96x96 .persona-presence--outofoffice::after, .o365-persona--size96x96 .persona-presence--presenceunknown::after, .o365-persona--size96x96 .persona-presence--offwork::after, .o365-persona--size96x96 .persona-presence--inactive::after, .o365-persona--size96x96 .persona-presence--offline::after {
  left: 2px;
  height: 18px;
  top: 2px;
  width: 18px;
}
.o365-persona--size96x96 .persona-presence--presenting:before, .o365-persona--size96x96 .persona-presence--inacall:before, .o365-persona--size96x96 .persona-presence--inaconferencecall:before, .o365-persona--size96x96 .persona-presence--inameeting:before, .o365-persona--size96x96 .persona-presence--urgentinterruptionsonly:before, .o365-persona--size96x96 .persona-presence--donotdisturb:before {
  font-size: 22px;
  line-height: 22px;
}
.o365-persona--size120x120 .persona-presence {
  height: 30px;
  width: 30px;
}
.o365-persona--size120x120 .persona-presence--availableidle::after, .o365-persona--size120x120 .persona-presence--busyidle::after, .o365-persona--size120x120 .persona-presence--outofoffice::after, .o365-persona--size120x120 .persona-presence--presenceunknown::after, .o365-persona--size120x120 .persona-presence--offwork::after, .o365-persona--size120x120 .persona-presence--inactive::after, .o365-persona--size120x120 .persona-presence--offline::after {
  height: 20px;
  left: 3px;
  top: 3px;
  width: 20px;
}
.o365-persona--size120x120 .persona-presence--presenting:before, .o365-persona--size120x120 .persona-presence--inacall:before, .o365-persona--size120x120 .persona-presence--inaconferencecall:before, .o365-persona--size120x120 .persona-presence--inameeting:before, .o365-persona--size120x120 .persona-presence--urgentinterruptionsonly:before, .o365-persona--size120x120 .persona-presence--donotdisturb:before {
  font-size: 26px;
  line-height: 24px;
}
.o365-persona--size240x240 .persona-presence {
  border-width: 4px;
  height: 62px;
  width: 62px;
}
.o365-persona--size240x240 .persona-presence--availableidle::after, .o365-persona--size240x240 .persona-presence--busyidle::after, .o365-persona--size240x240 .persona-presence--outofoffice::after, .o365-persona--size240x240 .persona-presence--presenceunknown::after, .o365-persona--size240x240 .persona-presence--offwork::after, .o365-persona--size240x240 .persona-presence--inactive::after, .o365-persona--size240x240 .persona-presence--offline::after {
  height: 46px;
  left: 4px;
  top: 4px;
  width: 46px;
}
.o365-persona--size240x240 .persona-presence--presenting:before, .o365-persona--size240x240 .persona-presence--inacall:before, .o365-persona--size240x240 .persona-presence--inaconferencecall:before, .o365-persona--size240x240 .persona-presence--inameeting:before, .o365-persona--size240x240 .persona-presence--urgentinterruptionsonly:before, .o365-persona--size240x240 .persona-presence--donotdisturb:before {
  font-size: 54px;
  line-height: 54px;
}
.o365-persona--size360x360 .persona-presence {
  border-width: 4px;
  height: 80px;
  width: 80px;
}
.o365-persona--size360x360 .persona-presence--availableidle::after, .o365-persona--size360x360 .persona-presence--busyidle::after, .o365-persona--size360x360 .persona-presence--outofoffice::after, .o365-persona--size360x360 .persona-presence--presenceunknown::after, .o365-persona--size360x360 .persona-presence--offwork::after, .o365-persona--size360x360 .persona-presence--inactive::after, .o365-persona--size360x360 .persona-presence--offline::after {
  height: 60px;
  left: 6px;
  top: 6px;
  width: 60px;
}
.o365-persona--size360x360 .persona-presence--presenting:before, .o365-persona--size360x360 .persona-presence--inacall:before, .o365-persona--size360x360 .persona-presence--inaconferencecall:before, .o365-persona--size360x360 .persona-presence--inameeting:before, .o365-persona--size360x360 .persona-presence--urgentinterruptionsonly:before, .o365-persona--size360x360 .persona-presence--donotdisturb:before {
  font-size: 72px;
  line-height: 72px;
}

/*# sourceMappingURL=persona.presence.css.map */
