.block-o365-onedrive ul {
  padding: 0;
}

.block-o365-onedrive li {
  list-style: none;
}

.o365-onedrive-file {
  display: flex;
}

.o365-onedrive-files {
  display: flex;
  align-items: center;
}

.o365-onedrive-files .file-name {
  margin-left: 10px;
}

.file-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.block-o365-onedrive .o365-link-inline.ms-BrandIcon--icon48 {
  width: 32px;
  height: 32px;
}
