<hr>
<p>Username: {{ userPrincipalName }}</p>
<p>First name: {{ givenName }}</p>
<p>Family name: {{ surname }}</p>
<p>Email address: <a href="mailto:{{ email }}">{{ email }}</a></p>
<p>Phone number: <a href="tel:{{ phone_number }}">{{ phone_number }}</a></p>
<p>Presence: {{ presence }}</p>
<img src="{{ profile_picture }}" alt="{{ givenName }}">
<p><a href="{{ teams_call }}">Teams call</a></p>
<p><a href="{{ teams_chat }}">Teams chat</a></p>
